header {
    grid-area: header;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: var(--padding);
    align-items: center;
    border-bottom: 1px solid gray;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: white;
}

nav>img {
    width: 150px;
}